

.content_0{ width: 1240px; margin: 0 auto; }
.part{ position: relative; }
.part p{ font-size: 14px; color: #666666; text-align: center; line-height: 24px; }

.part_0{ height: 600px; padding-top: 30px; border-bottom: 1px solid #eeeeee; }
.part_0 p{ margin-bottom: 50px; }
.part_img_0{ width: 440px; height: 200px; padding: 0px 0 0 26px; background: url(../feature_files/index_57.png) no-repeat center top; margin: 0 auto; }
.part_img_0 a{ display: block; float: left; width: 84px; height: 20px; padding-top: 100px; margin-right: 26px; text-align: center; color: #666666; font-size: 14px; }
/*
.part_img_0 a{ display: block; float: left; width: 84px; height: 20px; padding-top: 50px; margin-right: 26px; text-align: center; color: #666666; font-size: 18px; }
*/
.part_img_0 a:hover{ background: url(../feature_files/index_19.png) no-repeat; }

a.part_img_0_0:hover{ background-position: 0 0; }
a.part_img_0_1:hover{ background-position: -110px 0; }
a.part_img_0_2:hover{ background-position: -220px 0; }
a.part_img_0_3:hover{ background-position: -329px 0; }
a.part_img_0_4:hover{ background-position: -440px 0; }
a.part_img_0_5:hover{ background-position: -550px 0; }
a.part_img_0_6:hover{ background-position: -660px 0; }

.part_1{ height: 651px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_1 p{ margin-bottom: 20px; }
.part_1 h4{ text-align: center; color: #999999; margin-bottom: 30px; }
.part_1 h4 span{ margin: 0 10px; cursor: pointer; }
.current_span{ color: #ff4800; }
.part_img_1{ width: 870px; height: 455px; margin: 0 auto; overflow: hidden; position: relative; }
.part_img_1_prev,.part_img_1_next{ position: absolute; width: 33px; height: 64px; top: 500px; cursor: pointer; }
.part_img_1_prev{ left: 140px; background: url(../feature_files/index_36.png) no-repeat left top; }
.part_img_1_next{ right: 140px; background: url(../feature_files/index_37.png) no-repeat left top; }
.part_img_1_prev:hover{ background-position: left -194px; }
.part_img_1_next:hover{ background-position: left -194px; }
.part_img_1_container{ width: 2610px; height: 455px; position: absolute; left: 0; top: 0; }
.part_img_1_container div{ width: 870px; height: 455px; float: left; position: relative; }
.part_img_1_tab_0{ background: url(../feature_files/index_58.jpg) no-repeat 50% 0px; height: 600px; }
.part_img_1_tab_1{ background: url(../feature_files/index_59.jpg) no-repeat 50% 0px; height: 600px; }
.part_img_1_tab_2{ background: url(../feature_files/index_60.png) no-repeat 50% 0px; height: 600px; }
.part_img_1_tab_0 p{ position: absolute; width: 300px; padding-top: 120px; top: 100px; right: 100px; text-align: left; background: url(/static/index6/images/index_81.png) no-repeat left top; }
.part_img_1_tab_1 p{ position: absolute; width: 300px; padding-top: 120px; top: 100px; right: 100px; text-align: left; background: url(/static/index6/images/index_82.png) no-repeat left top; }
.part_img_1_tab_2 p{ position: absolute; width: 300px; padding-top: 120px; top: 100px; right: 100px; text-align: left; background: url(/static/index6/images/index_83.png) no-repeat left top; }


.part_2{ height: 750px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_img_2{ width: 870px; height: 200px; padding-top: 50px; margin: 0 auto; position: relative; }
.part_img_2_left{ position: absolute; width: 300px; left: 90px; top: 50px; padding-top: 450px; background: url(../feature_files/index_84.jpg) no-repeat 10px top; background-size: 250px 450px; }
.part_img_2_right{ position: absolute; width: 300px; right: 70px; top: 50px; padding-top: 450px; background: url(../feature_files/index_85.jpg) no-repeat 10px top; background-size: 250px 450px; }


.part_3{ height: 840px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_3 p{ margin-bottom: 60px; }
.part_img_3{ width: 900px; height: 600px; margin: 0 auto; overflow: hidden; position: relative; }
.part_img_3_prev,.part_img_3_next{ position: absolute; width: 33px; height: 64px; top: 470px; cursor: pointer; }
.part_img_3_prev{ left: 100px; background: url(/static/index6/images/index_36.png) no-repeat left top; }
.part_img_3_next{ right: 100px; background: url(/static/index6/images/index_37.png) no-repeat left top; }
.part_img_3_prev:hover{ background-position: left -194px; }
.part_img_3_next:hover{ background-position: left -194px; }
.part_img_3_container{ width: 2700px; height: 600px; position: absolute; left: 0; top: 0; }
.part_img_3_container div{ width: 900px; height: 200px; float: left; position: relative; }
.part_img_3_tab_0{ background: url(../feature_files/index_62.png) no-repeat center 0px; height: 100px; padding-top: 480px; }
.part_img_3_tab_1{ background: url(/static/index6/images/index_63.png?2) no-repeat center 0px; height: 100px; padding-top: 480px; }


.part_4{ height: 790px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_4 p{ margin-bottom: 50px; }
.part_img_4{ width: 870px; height: 500px; margin: 0 auto; background: url(/static/index6/images/index_64.png?1) no-repeat center center; }

.part_5{ height: 720px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_5 p{ margin-bottom: 50px; }
.part_img_5{ width: 900px; height: 500px; margin: 0 auto; background: url(../feature_files/index_65.jpg) no-repeat 500px 20px; background-size: 280px 480px; position: relative; }
.part_img_5 p{ position: absolute; left: 93px; top: 105px; width: 300px; text-align: left; }
.part_img_5 p span{ margin-left: 120px; }

.content_1_on{ background: url(/static/index6/images/index_86.png) repeat-x left top; height: 564px;  }
.content_1{ width: 1240px; height: 564px; margin: 0 auto; }
.part_6{ width: 900px; height: 500px; margin: 0 auto; }
.part_img_6{ width: 920px; height: 490px; margin: 0 auto; background: url(/static/index6/images/index_66.png) no-repeat 100px 80px;  }
.part_img_6 p{ position: absolute; left: 600px; top: 230px; width: 320px; text-align: left; color: white; }
.part_img_6 p span{ margin-left: 140px; }

.part_7{ height: 960px; padding-top: 80px; border-bottom: 1px solid #eeeeee; }
.part_img_7{ width: 630px; height: 263px; padding-top: 600px; margin: 0 auto; position: relative; background: url(/static/index6/images/index_67.png?1) no-repeat center 50px; }
.part_img_7 p{ position: absolute; top: 660px; width: 274px; }
p.part_img_7_left{ left: 0px;  }
p.part_img_7_right{  right: 5px; }


.part_8{ height: 860px; padding-top: 60px; border-bottom: 1px solid #eeeeee; }
.part_img_8{ width: 620px; height: 265px; padding-top: 600px; margin: 0 auto; position: relative; background: url(/static/index6/images/index_68.png) no-repeat center 40px; }
.part_img_8 p{ position: absolute; top: 650px; width: 260px; }
p.part_img_8_left{ left: 0px;  }
p.part_img_8_right{  right: 5px; }



.part_9{ height: 670px; padding-top: 80px; }
.part_img_9{ width: 870px; height: 490px; margin: 0 auto; position: relative; background: url(/static/index6/images/index_69.png) no-repeat center 40px; }
.part_img_9 p{ position: absolute; top: 230px; width: 300px; left: 13px; }

.part_10{ height: 520px;  border-bottom: 1px solid #eeeeee; position: relative; }
.part_img_10{ width: 870px; height: 490px; margin: 0 auto; position: relative; background: url(/static/index6/images/index_70.png) no-repeat center center;  }
.part_img_10 p{ position: absolute; top: 200px; width: 300px; left: 580px; }



/* index.html */
.theme-by {
  float: right;
  color: #999;
  padding-right: 50px;
}
.theme-by a {
  color: #999;
}

/* restaurant register page */
.register-part {
  height: 650px;
}
.register-form {
  width: 400px;
  margin:0 auto;
}
.register-form h4 {
  margin-bottom: 20px;
}
.register-form .input-field {
  margin-bottom: 10px;
}
.register-form label {
  font-size: 16px;
  line-height: 28px;
}
.register-form input, .register-form textarea {
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  width: 300px;
  float: right;
  height: 28px;
}
.register-form button {
  width: 100%;
  background-color: #ff7700;
  font-size: 16px;
  color: #fff;
  border: none;
  height: 40px;
  cursor: pointer;
}

.price-table {
  width: 700px;
  margin: 40px auto;
}

.price-table table{
  width: 100%;
}
.price-table table td, .price-table table th{
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #F70;
  padding: 15px;
  font-size: 18px;
}

.price-table table th{
  background: #f70;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
}
.price-table .check-icon {
  padding: 0 10px;
  font-weight: 20px;
  font-size: 20px;
  color: #f70;
}
.price-table .price-text {
  font-size: 24px;
  color: #f70;
}



/* hide cnzz icon */
#cnzz_stat_icon_1254773847 {
  display: none;
}

