<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="点快,diankuai,餐厅,餐饮,取号,排队,等位,预订,订位,订座,自助,微信,智能,智慧">
<meta name="description" content="点快是一款基于互联网的餐饮智能化产品，在餐厅需要排队等位就餐时，提供基于手机或微信的自助取号功能">
<title>点快 - 不是简单的餐厅排队取号，而是智能餐饮的未来</title>
<link rel="stylesheet" href="./feature_files/reset.css">
<link rel="stylesheet" href="./feature_files/common.css">
<link rel="stylesheet" href="./feature_files/function.css">
<script src="./feature_files/jquery.1.7.1.min.js" type="text/javascript"></script>
<script src="./feature_files/index.js" type="text/javascript"></script>
<script src="./feature_files/register.js" type="text/javascript"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61830111-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Baidu Tonji -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7051a18e65d494957a70403bf966324f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<div class="content_on">
  <div class="content_top_on">
    <div class="content_top">
      <a href="http://www.diankuai.cn/" class="logo">点快</a>
      <p class="menus">
      <a href="./register">免费开通</a>
      <a href="http://c.diankuai.cn/" target="_blank">控制台</a>
      <a href="http://www.diankuai.cn/">首页</a>
      </p>
    </div>
  </div>
  <div class="content_0_on">
    <div class="content_0">

      <div class="part part_0 register-part">
        <h3 class="part_title first_title">
          联系我们
        </h3>
        <div style="text-align:left;margin-top:20px;color:#333;">
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            电子邮件：contactus@diankuai.cn
          </h4>
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            业务咨询、市场合作：13021045329，010-87890682
          </h4>
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            微信公众号：diankuai
          </h4>
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            腾讯微博：
            <a href="http://t.qq.com/diankuai2015">http://t.qq.com/diankuai2015</a>
          </h4>
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            新浪微博：
            <a href="http://weibo.com/diankuai">http://weibo.com/diankuai</a>
          </h4>
          <h4 style="width:400px;margin: 20px auto 0;color:#333;">
            地址：北京市朝阳区西大望路甲12号国家广告产业园B座
          </h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer_on">
  <div class="footer">
    <div class="footer_links">
      <ol>
        <li class="firstli">
        <h4>帮助</h4>
        <dl>
          <dd>
          <a href="#doc">文档中心</a>
          </dd>
          <dd>
          <a href="#question">问答社区</a>
          </dd>
          <dd>
          <a href="#bbs">用户论坛</a>
          </dd>
        </dl>
        </li>
        <li class="middleli">
        <h4>团队</h4>
        <dl>
          <dd>
          <a href="./about">关于点快</a>
          </dd>
          <dd>
          <a href="http://shixian.com/projects/1998" target="_blank">加入我们</a>
          </dd>
          <dd>
          <a href="./contact">联系我们</a>
          </dd>
        </dl>
        </li>
        <li class="lastli">
        <h4>关注</h4>
        <dl>
          <dd>
          <a href="http://weibo.com/diankuai" target="_blank">新浪微博</a>
          </dd>
          <dd>
          <a href="http://t.qq.com/diankuai2015" target="_blank">腾讯微博</a>
          </dd>
          <dd>
          <a class="weixin" href="javascript:void(0)" target="_blank">点快微信<img width="150" src="./feature_files/wp_qrcode.jpg"></a>
          </dd>
        </dl>
        </li>
        <div style="clear:both"></div>
      </ol>
    </div>
    <p class="copyright">
    Copyright &copy; 2015 北京邦邦科技有限公司
    </p>
    <p class="copyright">
    京ICP备15011685号
    </p>
  </div>

</div>

<!-- cnzz -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254773847'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254773847%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>

</body></html>
