<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="点快,diankuai,餐厅,餐饮,取号,排队,等位,预订,订位,订座,自助,微信,智能,智慧">
<meta name="description" content="点快是一款基于互联网的餐饮智能化产品，在餐厅需要排队等位就餐时，提供基于手机或微信的自助取号功能">
<title>点快 - 不是简单的餐厅排队取号，而是智能餐饮的未来</title>
<link rel="stylesheet" href="./feature_files/reset.css">
<link rel="stylesheet" href="./feature_files/common.css">
<link rel="stylesheet" href="./feature_files/function.css">
<script src="./feature_files/jquery.1.7.1.min.js" type="text/javascript"></script>
<script src="./feature_files/index.js" type="text/javascript"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61830111-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Baidu Tonji -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7051a18e65d494957a70403bf966324f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<div class="content_on">
  <div class="content_top_on">
    <div class="content_top">
      <a href="http://www.diankuai.cn/" class="logo">点快</a>
      <p class="menus">
      <a href="./register">免费开通</a>
      <a href="http://c.diankuai.cn/" target="_blank">控制台</a>
      <a href="#" class="menu_current">首页</a>
      </p>
    </div>
  </div>
  <div class="menu_links_on">
    <div class="menu_links">
      <!--
      <a href="#">概述</a><a href="">产品</a>
      -->
    </div>
  </div>
  <div class="content_0_on">
    <div class="content_0">

      <div class="part part_0">
        <h3 class="part_title first_title">
          让您的顾客<br>
          爱上排队
        </h3>
        <p>
        点快提供手机取号、微信取号、到号提醒、等位奖励
        <br>
        就餐高峰时，有效降低客人流失率，改善顾客就餐体验，提高餐厅翻台率
        <br>
        排队情况统计，为餐厅优化经营提供数据支撑
        </p>
        <div class="part_img_0">
          <a href="#part_1" class="part_img_0_0">自助取号</a>
          <a href="#part_2" class="part_img_0_1">到号提醒</a>
          <a href="#part_3" class="part_img_0_2">等位奖励</a>
          <a href="#part_4" class="part_img_0_3">统计分析</a>
        </div>
      </div>

      <div class="part part_1" id="part_1">
        <h3 class="part_title">自助取号</h3>
        <p>
        一目了然的操作界面
        <br>
        <br>
        </p>
        <h4><span class="current_span">手机取号</span>|<span>微信取号</span>|<span>取号管理</span></h4>
        <div class="part_img_1">
          <div class="part_img_1_container" value="0">
            <div class="part_img_1_tab_0">
            </div>
            <div class="part_img_1_tab_1">
            </div>
            <div class="part_img_1_tab_2">
            </div>
          </div>
        </div>
        <div class="part_img_1_prev"></div>
        <div class="part_img_1_next"></div>
      </div>
      <div class="part part_5" id="part_2">
        <h3 class="part_title">到号提醒</h3>
        <p>
        提前3个号，系统自动通知顾客就餐
        </p>
        <div class="part_img_5">
          <p>
          <span>顾客等位更轻松</span>
          <br>
          <br>
          就餐高峰时，给顾客以“自由”和“从容”，让顾客不再觉得等位漫长。
          <br>
          更能将已去其他餐厅排队的顾客，“拉”回您的餐厅。
          </p>
        </div>
      </div>
      <div class="part part_2" id="part_3">
        <h3 class="part_title">等位奖励</h3>
        <p>
        您是希望8折挽留一个顾客，还是希望顾客离开没赚到一分？
        <br>
        顾客需要觉得值得等待 -- 让我们帮您完成这一步
        <br>
        可灵活设置多种奖励策略，真真正正，留住顾客
        </p>
        <div class="part_img_2">
          <p class="part_img_2_left">
          </p>
          <p class="part_img_2_right">
          </p>
        </div>
      </div>
      <div class="part part_3 function_part_3" id="part_4">
        <h3 class="part_title">统计分析</h3>
        <p>
        客人平均要等位多长时间？每天有多少客人取了号离开？
        <br>
        数据一目了然，让经营不再糊涂账
        <br>
        您的餐厅，其实还可以提高翻台率！
        
        </p>
        <div class="part_img_3">
          <div class="part_img_3_container" value="0">
            <div class="part_img_3_tab_0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer_on">
  <div class="footer">
    <div class="footer_links">
      <ol>
        <li class="firstli">
        <h4>帮助</h4>
        <dl>
          <dd>
          <a href="#doc">文档中心</a>
          </dd>
          <dd>
          <a href="#question">问答社区</a>
          </dd>
          <dd>
          <a href="#bbs">用户论坛</a>
          </dd>
        </dl>
        </li>
        <li class="middleli">
        <h4>团队</h4>
        <dl>
          <dd>
          <a href="./about">关于点快</a>
          </dd>
          <dd>
          <a href="http://shixian.com/projects/1998" target="_blank">加入我们</a>
          </dd>
          <dd>
          <a href="./contact">联系我们</a>
          </dd>
        </dl>
        </li>
        <li class="lastli">
        <h4>关注</h4>
        <dl>
          <dd>
          <a href="http://weibo.com/diankuai" target="_blank">新浪微博</a>
          </dd>
          <dd>
          <a href="http://t.qq.com/diankuai2015" target="_blank">腾讯微博</a>
          </dd>
          <dd>
          <a class="weixin" href="javascript:void(0)" target="_blank">点快微信<img width="150" src="./feature_files/wp_qrcode.jpg"></a>
          </dd>
        </dl>
        </li>
        <div style="clear:both"></div>
      </ol>
    </div>
    <p class="copyright">
    Copyright &copy; 2015 北京邦邦科技有限公司
    </p>
    <p class="copyright">
    京ICP备15011685号
    </p>
    <p class="theme-by">theme by <a href="http://www.miui.com/overview.php">miui</a></p>
  </div>

</div>
<a class="to_top" href="#top" style="right: 10px; display: none;"></a>

<!-- cnzz -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254773847'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254773847%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>

</body></html>
